{% extends "base.html" %}
{% load thumbnail %}

{% block title %} {{ user.get_full_name }} {% endblock %}

{% block content %}
<div class="profile-container">
<div class="back-img">
<img src="{{ MEDIA_URL }}{{ user.profile.background_image }}" class="img-fluid profile-background">
</div>

<div class="profile">
<div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row justify-content-center">
                {% thumbnail user.profile.image "180x180" crop="100%" as im %} 
                <img src="{{ im.url }}" class="user-detail">
                {% endthumbnail %}
                </div>
                
                
                <div class="row justify-content-center follow-info">
                    {% with total_followers=user.followers.count %}
                    <span class="count">
                        <span class="total">{{ total_followers }}</span> 
                        follower{{ total_followers|pluralize }}
                        </span>
                    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follower-button follow"> 
                        {% if request.user not in user.followers.all %}
                        Follow
                        {% else %}
                        Unfollow  
                        {% endif %}
                    </a>
                </div>
                
                
                <h1>{{ user.get_full_name }}</h1>
                
                {% include "recipes/recipe/list_ajax.html" with recipes=user.recipes_created.all %}
                {% endwith %}
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block domready %}
$('a.follow').click(function(e){
e.preventDefault();
$.post('{% url "user_follow" %}',
{
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
if (data['status'] == 'ok') {
var previous_action = $('a.follow').data('action');

$('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');

$('a.follow').text(
previous_action == 'follow' ? 'Unfollow' : 'Follow');

var previous_followers = parseInt(
$('span.count .total').text());
$('span.count .total').text(previous_action == 'follow' ?
previous_followers + 1 : previous_followers - 1);
}
}
);
});
{% endblock %}