{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
<div class="row justify-content-center margin-form">
<div class="col-md-7">
    
<form method="post" class="accountform">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" class="btn btn-success"/></p>
</form>

</div>
</div>
</div>

{% endblock %}