{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_js %}
<script type="text/javascript" src="{% static 'recipes/list.js' %}"></script>
{% endblock %}


{% block content %}
{% load thumbnail %}

    {% for recipe in recipes %}
        {% if recipe.cook == request.user %}
    <div class="im-container">
    <a href="{{ recipe.get_absolute_url }}">
      {% thumbnail recipe.image "300x300" crop="100%" as im %}
        <a href="{{ recipe.get_absolute_url }}">
          <img src="{{ im.url }}">
        </a>
      {% endthumbnail %}
    </a>
    <div class="recipe-description">
      <a href="{{ recipe.get_absolute_url }}" class="recipe-link">
        <h3>{{ recipe.recipe_name }}</h3>
      <h6 class="avatar-cook-name"><img src="{{ MEDIA_URL }}{{ recipe.cook.profile.image }}" class="img-circle"> {{ recipe.cook }}</h6>
      <span class="boldtext date-views">Published on: {{ recipe.created_date.date }} - Views:{{ recipe.views }}</span>
      </a>
    </div>
  </div>    
        {% endif %}
    {% endfor %}
    
    
        <a class="btn btn-success" href="{% url "recipes:show_recipe_form" %}" role="button" >Add a recipe here!</a>

{% endblock %}