{% extends "base.html" %}
{% load static from staticfiles %}

{% load staticfiles %}
{% block head_js %}  

{% endblock %}

{% block content %}
<img src="static/images/IMG_0050.jpg" class="img-fluid">

{% load thumbnail %}

<div class="container">
<div class="row justify-content-center">
    {% for recipe in recipes %}
    <div class="im-container col-xs-12">
    <a href="{{ recipe.get_absolute_url }}">
      {% thumbnail recipe.image "300x300" crop="100%" as im %}
        <a href="{{ recipe.get_absolute_url }}">
          <img src="{{ im.url }}">
        </a>
      {% endthumbnail %}
    </a>
    <div class="recipe-description">
      <a href="{{ recipe.get_absolute_url }}">
        <h3>{{ recipe.recipe_name }}</h3>
      <h6 class="avatar-cook-name"><img src="{{ MEDIA_URL }}{{ recipe.cook.profile.image }}" class="img-circle"> {{ recipe.cook }}</h6>
      <span class="date-views">Published on: {{ recipe.created_date.date }} - Views:{{ recipe.views }}</span>
      </a>
    </div>
  </div>
    {% endfor %}
</div>
</div>

{% endblock %}


