{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_js %}



{% endblock %}

{% block content %}
{% load thumbnail %}

    {% for recipe in recipes %}
    <div class="videos-list">
    <div class="image">
       <a href="{{ recipe.get_absolute_url }}">
           {% thumbnail recipe.video "320x240" crop="100%" as im %}
           <video width="320" data-play="hover" muted>
               <source src="{{MEDIA_URL}}{{recipe.video}}" type="video/mp4">
               <source src="{{MEDIA_URL}}{{recipe.video}}" type="video/ogg">
            </video>
            <div class="timer">
              <div></div>
                  <span aria-label="timer">00:00</span>
            </div>
           {% endthumbnail %}
           </a> 
                            
        <div class="info">
            <a href="{% url 'recipes:recipe_detail' recipe.id %}"><h3 class="recipe_name">{{recipe.recipe_name}}</h3></a>
                
                <a href="{% url 'recipes:recipe_detail' recipe.id %}">
                    <h6 class="avatar-cook_name"><img src="{{ MEDIA_URL }}{{ recipe.cook.profile.image }}" class="img-circle"> {{ recipe.cook }}</h6>
                      <span class="boldtext date-views">Published on: {{ recipe.created_date.date }} - Views:{{ recipe.views }}</span>
                        </a>
                          </div>
                             </div>
                               </div>
    {% endfor %}

{% endblock %}


