{% extends "base.html" %} 

{% block title %} {{ recipe.recipe_name }} {% endblock %}

{% block content %}
<h1>{{ recipe.recipe_name }}</h1>
{% load thumbnail %}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-4 col-lg-4 col-md-4">
            
<video width="320" height="240" controls>
  <source src="{{MEDIA_URL}}{{recipe.video}}" type="video/mp4">
  <source src="{{MEDIA_URL}}{{recipe.video}}" type="video/ogg">
  Your browser does not support the video tag.
</video>
                
                {% thumbnail recipe.image "300" as im %}
                <a href="{{ recipe.image.url }}">
                    <img src="{{ im.url }}" class="image-detail">
                </a>
                {% endthumbnail %}
                
                
                {% with total_likes=recipe.users_like.count users_like=recipe.users_like.all %}
                <div class="image-info">
                    <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ recipe.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                    Like
                    {% else %}
                    Unlike
                    {% endif %}
                </a>        
                    </div>
                </div>
                
                
                <div class="recipe-likes">
                    {% for user in recipe.users_like.all %}
                    <div>
                        <img src="{{ MEDIA_URL }}{{ user.profile.image }}" class="img-circle">
                        <p>{{ user.first_name }}</p>
                    </div>
                    {% empty %}
                    Nobody likes this yet.
                    {% endfor %}
                </div>
                {% endwith %}
                
                
                <div class="caption">
                    <h3>{{recipe.recipe_name}}</h3>
                    </div>
                    <div>
                    <h5 class="avatar-cook_name"><img src="{{ MEDIA_URL }}{{ recipe.cook.profile.image }}" class="img-circle"> {{ recipe.cook }}</h5>
                    <span class="boldtext date-views">Published on: {{ recipe.created_date.date }} - Views:{{ recipe.views }}</span>
                    <div class="thumbnail">
                        <div class="thumbnail">
                    <p>{{recipe.cusine_type}}</p>
                    <p>{{recipe.diet_type}}</p>
                    <p>{{recipe.ingredients}}</p>
                    <p>{{recipe.preparation}}</p>
                    
                    <p><span class="boldtext">Cook:</span> {{ recipe.cook }} </p>
                    
                    
                    

                    <a href="{% url 'donation_checkout' %}" class="btn btn-primary">Donate</a>
                    <a href="{% url 'recipes:home' %}" class="btn btn-primary">back</a>
                    
                    
                    {% if request.user == recipe.cook %}
                    <a href="{% url 'recipes:edit_recipe' recipe.id %}" class="btn btn-primary">Edit Recipe</a>
                    <a href="{% url 'recipes:delete_recipe' recipe.id %}" class="btn btn-primary">Delete Recipe</a>
                    {% endif %}
                    
                
            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block domready %}

$('a.like').click(function(e){
e.preventDefault();
$.post('{% url "recipes:like" %}',
{
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
if (data['status'] == 'ok')
{
var previous_action = $('a.like').data('action');
// toggle data-action
$('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
// toggle link text
$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
// update total likes
var previous_likes = parseInt($('span.count .total').text());
$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
}
}
);
});

{% endblock %}



