{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
    {% for recipe in recipes %}
                    
                    <div class="col-sm-4 col-lg-4 col-md-4 card-dim">
                        <div class="thumbnail">
                            
                            <div>
                            <a href="{% url 'recipe_detail' recipe.id %}">
                            <img src="{{MEDIA_URL}}{{recipe.image}}" alt="recipe's image" class="recipe-img-size">
                            </a>
                            </div>
                            <div class="caption">
                                <a href="{% url 'recipe_detail' recipe.id %}"><h3 class="recipe_name">{{recipe.recipe_name}}</h3></a>
                                </div>
                                <div>
                                    <a href="{% url 'recipe_detail' recipe.id %}">
                                    <h6 class="avatar-cook_name"><img src="{{ MEDIA_URL }}{{ recipe.cook.profile.image }}" class="img-circle"> {{ recipe.cook }}</h6>
                                    <span class="boldtext date-views">Published on: {{ recipe.created_date.date }} - Views:{{ recipe.views }}</span>
                                </a>
                                </div>
                        </div>
                    </div>
                    
    {% endfor %}
    </div>
    </div>
    
{% endblock content %}
