{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">


        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="{{MEDIA_URL}}{{recipe.image}}" alt="recipe's image">
                <div class="caption">
                    <h4>{{recipe.recipe_name}}

                    </h4>
                    <p>{{recipe.cusine_type}}</p>
                    <p>{{recipe.diet_type}}</p>
                    <p>{{recipe.ingredients}}</p>
                    <p>{{recipe.preparation}}</p>


                    <a href="{% url 'donation_checkout' %}" class="btn btn-primary">Donate</a>

                    <a href="{% url 'home' %}" class="btn btn-primary">back</a>
                </div>
            </div>


            <div>
                {% for review in product.reviews.all|dictsortreversed:'created_date' %}


                <h3>{{ review.title }} - <i>{{ review.author }}</i></h3>
                <p>{{ review.content }}</p>
                {{ review.product }}
                <hr> {% endfor %}

            </div>

        </div>
    </div>
</div>

{% endblock content %}

