body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.story-img {
    margin-top: 25%;
    display: block;
}

.img-circle{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    border: 1px;
}

.recipe-img-size{
    height: 150px;
    width: 300px;
}

.avatar-cook_name{
    margin-bottom: 0;
}

.card-dim{
    display: inline-block;
    width: 210px;
    margin-bottom: 50px;
    margin-top: 10px
}

.date-views{
    font-size: small;
}

.recipe_name{
    margin-bottom: 0;
}